*~
*.swp
node_modules
dist
/packages/waku/README.md
/packages/website/.vercel
/packages/create-waku/templates
.env.local
.devcontainer
.vscode
*.tsbuildinfo
.cache
.nvmrc
.node-version
pages.gen.ts
test-results
.wrangler
