.section {
  border-color: rgb(96, 165, 250);
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: dashed;
  padding: 1rem;
}

.button {
  border-radius: 0.125rem;
  background-color: rgb(0, 0, 0);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255, 255, 255);
}
