.footer {
  padding: 1.5rem;
}

@media (min-width: 1024px) {
  .footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
  }
}

.a {
  margin-top: 1rem;
  display: inline-block;
  text-decoration-line: underline;
}
