.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}

@media (min-width: 1024px) {
  .header {
    position: fixed;
    left: 0px;
    top: 0px;
  }
}

.h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
