@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap')
layer(base);
@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-nunito: 'Nunito', sans-serif;
  --font-zen-maru-gothic: 'Zen Maru Gothic', serif;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out forwards;
}
