@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=block');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=block');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=block');
@tailwind base;
:root {
  @apply bg-black;
}
#__waku {
  @apply bg-gray-900;
}
*::-webkit-scrollbar {
  @apply h-full w-4 bg-gray-900;
}
*::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
*::-webkit-scrollbar-thumb {
  @apply rounded-2xl border-4 border-solid border-gray-900 bg-gray-600;
}
*::-webkit-scrollbar-button {
  @apply hidden;
}
@tailwind components;
@tailwind utilities;
